<!DOCTYPE html>

<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Main styles for this application-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="c-app flex-row align-items-center">

    {% include "admin/layouts/partials/sidebar.njk" %}
    
    <div class="c-wrapper c-fixed-components">
        {% include "admin/layouts/partials/header.njk" %}
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </main>
            {% include "admin/layouts/partials/footer.njk" %}
        </div>
    </div>

    <!-- @yield('content') -->

    <!-- CoreUI and necessary plugins-->
    <script src="/js/coreui.bundle.min.js"></script>

    <!-- @yield('javascript') -->

</body>

</html>